@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 123, 0, 5;
  --foreground: 210, 180, 139;
  
  color: rgba(var(--background));
  background: rgba(var(--foreground));
}

.dark {
  --background: 210, 180, 139;
  --foreground: 123, 0, 5;

  color: rgba(var(--background));
  background: rgba(var(--foreground));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar-track {
  background-color: rgba(var(--background));
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(var(--background));
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground));
}

::-moz-selection {
  color: rgba(var(--foreground));
  background: rgba(var(--background));
}

::selection {
  color: rgba(var(--foreground));
  background: rgba(var(--background));
}
